<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center p-6">
  <nav class="bg-blue-500 p-4 mb-8 w-full">
    <div class="container mx-auto flex justify-between items-center">
      <a href="{{ url_for('home_page') }}" class="text-white font-bold text-xl">Home</a>
      <a href="{{ url_for('create_playlist') }}" class="text-white hover:text-gray-200">My Playlists</a>
    </div>
  </nav>



  {% block content %}
  
    <h1 class="text-4xl font-bold text-blue-700 mb-8">{% block title %} Music App {% endblock %}</h1>
    <form action="{{ url_for('search_music') }}" method="post">
      <input 
        type="text" 
        name="search" 
        id = "search"
        placeholder="Search songs or artists..." 
        class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400"
      >
    </form>
  
        
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-6xl">
      {% for m in music %}
        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition">
          <h2 class="text-2xl font-semibold text-gray-800 mb-2">{{ m['song_name'] }}</h2>
          <p class="text-gray-600 mb-1"><span class="font-medium">Artist:</span> {{ m['artist_name'] }}</p>
          <p class="text-gray-600 mb-1"><span class="font-medium">Duration:</span> {{ m['duration'] }} sec</p>
          <p class="text-gray-600"><span class="font-medium">Genre:</span> {{ m['genre'] }}</p>    
          
          <form action="{{ url_for('add_to_playlist') }}" method="post">
            <input type="hidden" name="song_id" value="{{ m['song_id'] }}">
            <button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 mt-2">
              Add to Playlist
            </button>
          </form>


        </div>
      {% endfor %}
    </div>
    
  {% endblock %}
</body>
